 <h1>Log In!</h1> 
<%= form_for :user, url: login_path do |user| %>
  <p>
    <%= user.label :username %><br>
    <%= user.text_field :username %>
  </p>
 
  <p>
    <%= user.label :password %><br>
    <%= user.text_area :password %>
  </p>

  <p>
    <%= user.submit %>
  </p>
<% end %>

<%= link_to 'Back', root_path %>